.morris {
  $background: #cba;
  svg{
    display: block;
    margin: auto;
    background: $background;
    rect {
      stroke: #000;
      stroke-width: 8px;
      // fill: #999 ;
      fill-opacity: 0;
    }
    line {
      stroke: #000;
      stroke-width: 8px;
    }
    circle {
      stroke: #000;
      fill: $background;
      stroke-width: 3px;
      fill-opacity: 1;
    }
    .center { stroke: #ccc; }
    .white { fill: #fff; }
    .black { fill: #000; }
    .red { fill: #f00; }
    .orange { fill: #f90; }
    .yellow { fill: #ff0; }
    .zzz { fill: #9f0; }
    .green { fill: #0f0; }
    .cyan { fill: #0ff; }
    .blue { fill: #00f; }
    .purple { fill: #90f; }
    .mauve { fill: #f0f; }
  }
}

